:root {
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
        sans-serif;
    line-height: 24px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
}
body {
    min-width: 320px;
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top: 1px solid #ffffff15;
}
